body{
    background-color: red;
}

  .Container{
    width: 70%px;
    margin: 10px;
    background-color:#F2ED6F;
    border-radius: 1rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

