@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #404E4D;
}


.Container {
  width: 80vw;
  margin: 10px;
  background-color: #FDE74C;
  border: 0;
  border-left: 10px solid #5BC0EB;
  border-radius: 1rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.PokedexCardGroup {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.FilterGroup {
  border-end-end-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #FDE74C;
  margin: 30px;
  padding: 15px;
  border-top: 10px solid #5BC0EB;
  border-left: 10px solid #5BC0EB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.FilterGroupOther {
  display: flex;
  justify-content:space-between;
  gap: 200px;
  padding: 10px;
}
.FilterLvL {
  display: flex;
  justify-content: center;
}

.InputBox{
  background-color: white;
  border-color: #9BC53D;
  border-left: 5px solid #5BC0EB;
  border-radius: 1rem;
}

.FilterTypeButon {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  border: white solid 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 0;
  box-sizing: border-box;
  padding: 30px;
  margin: 5px;
}
.FilterTypeButonGroup {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.PokedexCardButons{
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.ProfileButon{
  justify-content:end;
}