@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Define the CSS variable */
:root {
  --BackgroundGradient: linear-gradient(208deg, rgba(155,197,61,1) 0%, rgba(238,226,74,1) 43%, rgba(253,231,76,1) 87%);
}


* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #303b3a;
}

.Container {
  width: 80vw;
  margin: 10px;
  background-image: var(--BackgroundGradient);
  border: 0;
  border-left: 10px solid #5bc0eb;
  border-radius: 1rem;
  padding: 0 1.5rem;
}

.ContainerButon {
  width: 70vw;
  border: 0;
  background-color: transparent !important;
  border: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  color: #303b3a !important;
}

.PokemonIcon {
  border-radius: 50%;
  background-color: white !important;
  margin: 5px;
}

.ButonBasic {
  border: 0;
  background-color: #9bc53d;
  border-radius: 1rem;
  border-left: 10px solid #5bc0eb;
}

.expandedCardContent {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PokedexCardGroup {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.FilterGroup {
  border-end-end-radius: 1rem;
  border-top-left-radius: 1rem;
  background-image: var(--BackgroundGradient);
  margin: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.FilterGroupOther {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.FilterLvL {
  display: flex;
  justify-content: center;
}

.InputBox {
  background-color: white;
  border-color: #9bc53d;
  border-left: 5px solid #5bc0eb;
  border-radius: 1rem;
}

.FilterTypeButon {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  /* border: white solid 5px; */
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 0;
  box-sizing: border-box;
  padding: 30px;
  margin: 10px;
}
.FilterTypeButonGroup {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.PokedexCardButons {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.ProfileButon {
  justify-content: end;
}

.InventoryCard {
  border-end-end-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #fde74c;
  margin: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.PositionRelative {
  position: relative;
}

.ArrowRight {
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  width: 70px;
  height: 2px;
  background-color: black;
}

.ArrowRight::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

.ArrowRight::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: black;
}

.TradeOfferGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.TradeOfferImage {
  grid-area: 1 / 1 / 3 / 2;
}
.TradeOfferReqirements {
  grid-area: 3 / 1 / 5 / 2;
}
.TradeOfferPokemonDiscription {
  grid-area: 1 / 2 / 5 / 4;
}

.modal-backdrop {
  background-color: rgba(0,0, 0, 0.5)!important; 
  opacity: 0.5 !important;
}

.PokemonNavbar {
  background: var(--BackgroundGradient);
}
